.neon{
    font-family: 'Golos Text', cursive;
    font-size: 2rem;
    color: #acffdd;
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #04B86C, 2px 0px 4px #04B86C, 3px 0px 4px #04B86C, 2px 0px 3px #04B86C, 2px 3px 15px #04B86C, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #04B86C,40px 0vw 200px #04B86C;
}

.flicker-slow{
    animation: flicker 3s linear infinite;
}

.flicker-fast{
    animation: flicker 1s linear infinite;
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    //text-shadow: none;
        opacity: .99;

    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
}

